.todo-input {
  width: 80%;
  margin: 4%;
  padding: 5px;
  line-height: 17px;
}

.removeTodo {
  border-width: 2px;
  border-radius: 3px;
  color: black;
  border-color: black;
  background-color: transparent;
  padding: 8px;
  border-style: solid;
  margin: 0 0 0 40%;
}
